[submodule ".brackets/extensions/user/zaggino.brackets-git"]
	path = .brackets/extensions/user/zaggino.brackets-git
	url = git@github.com:zaggino/brackets-git.git
[submodule ".brackets/extensions/user/brackets-beautify"]
	path = .brackets/extensions/user/brackets-beautify
	url = git@github.com:brackets-beautify/brackets-beautify.git
[submodule ".brackets/extensions/user/funcdocr"]
	path = .brackets/extensions/user/funcdocr
	url = git@github.com:Wikunia/brackets-FuncDocr.git
[submodule ".brackets/extensions/user/interactive-linter"]
	path = .brackets/extensions/user/interactive-linter
	url = git@github.com:MiguelCastillo/Brackets-InteractiveLinter.git
